@model ClienteModel

<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Nome</td>
    </tr>
    <tbody>
        @foreach (var cliente in (List<ClienteModel>)ViewBag.ListarTodosClientes)
        {
            <tr>
                <td>@cliente.id</td>
                <td>@cliente.nome</td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" onclick="RegistrarCliente()">Registrar Cliente</button>

<script>
    function RegistrarCliente() {
        window.location.href = window.location.origin + "/Home/Registrar"
    }

</script>