@model ClienteModel

<table class="table table-bordered">
    <tr>
        <td>Ações</td>
        <td>Id</td>
        <td>Nome</td>
    </tr>
    <tbody>
        @foreach (var cliente in (List<ClienteModel>)ViewBag.ListarTodosClientes)
        {
            <tr>
                <td style="width:50px"><button class="btn btn-primary" onclick="RegistrarCliente(@cliente.id)">Editar</button></td>
                <td style="width:50px"><button class="btn btn-danger" onclick="ExcluirCliente(@cliente.id)">Excluir</button></td>
                <td>@cliente.id</td>
                <td>@cliente.nome</td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" onclick="RegistrarCliente()">Registrar Cliente</button>

<script>
    function RegistrarCliente(id) {
        if (id == null) {
            window.location.href = window.location.origin + "/Home/Registrar";
        }
        else {
            window.location.href = window.location.origin + "/Home/Registrar/" + id;
        }
    }

    function ExcluirCliente(id) {
        window.location.href = window.location.origin + "/Home/Excluir/" + id;
    }

</script>